

#wrapper {
  position: relative;
  top:10%;
}

#displayInput {
  font-size:16px;
  border: 10px;
  background-color: grey;
  color: orange;
}

.button {
  width:40px;
  height:30px;
  color:orange;
  background-color: purple;
  border-radius: 30%;
}

.display button {
  position:relative;
  left:2px;
  top:2px;
  height:35px;
  color:black;
  text-align:center;
}

.operator {
  color:white;
  background-color: orange;
}

.calcInterface {
  display: block;
  position: relative;
  margin: auto;
}

.center-block{
    text-align: center;
}

.bright-pink {
  color:pink;
}
